@{
    ViewData["Title"] = "TestView";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var listPosts = (IEnumerable<Post>)ViewBag.ListPost;
    var hotPosts = (IEnumerable<Post>)ViewBag.HotPosts;
    var listImage = (IEnumerable<Post>)ViewBag.ListImage;
    var listBongDa = (IEnumerable<Post>)ViewBag.ListBongDa;
    var listMotoGp = (IEnumerable<Post>)ViewBag.MotoGP;
    var listTTQT = (IEnumerable<Post>)ViewBag.TheThaoQT;
    var tinLienQuan = (IEnumerable<Post>)ViewBag.TinLienQuan;
    var slide = (IEnumerable<Slide>)ViewBag.Slide;
}




@section slide{
    <div class="slider">
        <div class="callbacks_wrap">
            <ul class="rslides" id="slider">
                @foreach (var item in slide)
                {

                    <li>
                        <img src="@item.Image" />
                        <div class="caption">
                            <a href="#">@item.Description</a>
                        </div>
                    </li>
                }

            </ul>
            <a href="#" class="callbacks_nav callbacks1_nav prev"> Previous</a>
            <a href="#" class="callbacks_nav callbacks1_nav next"> Next</a>
        </div>
    </div>
}


<div class="col-md-8 content-left">
    <div class="articles sports">
        <header>
            <h3 class="title-head">Tin nổi bật</h3>
        </header>
        @foreach (var item in hotPosts)
        {
            var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
            <div class="article">
                <div class="article-left">
                    <a href="@url"><img src="@item.HinhAnh" alt="@item.Note"></a>
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@item.ViewCount </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
                        <a class="title" href="@url">@item.Title</a>
                    </div>
                    <div class="article-text">
                        <p>@item.MetaDescription.....</p>
                        <a href="@url">
                            <img src="~/uploads_admin/more.png" />
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }

    </div>

    <div class="sports-top">
        <div class="s-grid-left">
            <div class="cricket">
                <header>
                    <h3 class="title-head">Thể thao quốc tế</h3>
                </header>
                @foreach (var item in listTTQT)
                {
                    var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                    <div class="s-grid-small">
                        <div class="sc-image">
                            <a href="@url"><img src="@item.HinhAnh" alt="@item.Note" /></a>
                        </div>
                        <div class="sc-text">
                            <h6>cricket</h6>
                            <a class="power" href="@url">@item.Title</a>
                            <p class="date">@item.CreatedDate</p>
                            <a class="reu" href="@url"><img src="~/uploads_admin/more.png" alt="" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                }

            </div>
        </div>
        <div class="s-grid-right">
            <div class="cricket">
                <header>
                    <h3 class="title-head">Bóng đá</h3>
                </header>
                @foreach (var item in listBongDa)
                {
                    var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                    <div class="s-grid-small">
                        <div class="sc-image">
                            <a href="@url"><img src="@item.HinhAnh" alt="" /></a>
                        </div>
                        <div class="sc-text">
                            <h6>Bóng đá</h6>
                            <a class="power" href="@url">@item.Title</a>
                            <p class="date">@item.CreatedDate</p>
                            <a class="reu" href="@url"><img src="~/uploads_admin/more.png" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="sports-top">
        <div class="s-grid-left">
            <div class="cricket">
                <header>
                    <h3 class="title-head">Moto GP</h3>
                </header>
                @foreach (var item in listMotoGp)
                {
                    var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                    <div class="s-grid-small">
                        <div class="sc-image">
                            <a href="@url"><img src="@item.HinhAnh" alt="" /></a>
                        </div>
                        <div class="sc-text">
                            <h6>@item.CategoryPost</h6>
                            <a class="power" href="@url">@item.Title</a>
                            <p class="date">@item.CreatedDate</p>
                            <a class="reu" href="@url"><img src="~/uploads_admin/more.png" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                }

            </div>
        </div>
        <div class="s-grid-right">
            <div class="cricket">
                <header>
                    <h3 class="title-head">Tin tức liên quan</h3>
                </header>
                @foreach (var item in tinLienQuan)
                {
                    var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                    <div class="s-grid-small">
                        <div class="sc-image">
                            <a href="@url"><img src="@item.HinhAnh" alt="@item.Note" /></a>
                        </div>
                        <div class="sc-text">
                            <h6>@item.CategoryPost</h6>
                            <a class="power" href="@url">@item.Title</a>
                            <p class="date">@item.CreatedDate</p>
                            <a class="reu" href="@url"><img src="~/uploads_admin/more.png" /></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="photos">
        <header>
            <h3 class="title-head">Photos</h3>
        </header>
        <div class="course_demo1">
            <ul id="flexiselDemo">
                @foreach (var item in listImage)
                {
                    var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                    <li>
                        <a href="@url"><img src="@item.HinhAnh" alt="@item.Note" /></a>
                    </li>
                }


            </ul>
        </div>
        <link href="~/clients/css/flexslider.css" rel="stylesheet" media="screen" />
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 2
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script src="~/clients/js/jquery.flexisel.js"></script>
    </div>

</div>
<div class="col-md-4 side-bar">
    <div class="first_half">
        <div class="newsletter">
            <h1 class="side-title-head">Chuyển động 24h</h1>
            <form>
                <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                <input type="submit" value="submit">
            </form>
        </div>
        <div class="list_vertical">
            <section class="accordation_menu">
                <div>
                    <input id="label-1" name="lida" type="radio" checked />
                    <label for="label-1" id="item1"><i class="ferme"> </i>Popular Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                    <div class="content" id="a1">
                        <div class="scrollbar" id="style-2">
                            <div class="force-overflow">
                                <div class="popular-post-grids">
                                    @foreach (var item in hotPosts)
                                    {
                                        var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                                        <div class="popular-post-grid">
                                            <div class="post-img">
                                                <a href="@url"><img src="@item.HinhAnh" alt="" /></a>
                                            </div>
                                            <div class="post-text">
                                                <a class="pp-title" href="single.html">@item.Title</a>
                                                <p>@item.CreatedDate <a class="span_link" href="@url"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="@url"><span class="glyphicon glyphicon-eye-open"></span>@item.ViewCount  </a></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input id="label-2" name="lida" type="radio" />
                    <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                    <div class="content" id="a2">
                        <div class="scrollbar" id="style-2">
                            <div class="force-overflow">
                                <div class="popular-post-grids">
                                    @foreach (var item in hotPosts)
                                    {
                                        var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                                        <div class="popular-post-grid">
                                            <div class="post-img">
                                                <a href="@url"><img src="@item.HinhAnh" alt="" /></a>
                                            </div>
                                            <div class="post-text">
                                                <a class="pp-title" href="@url">@item.Title</a>
                                                <p>@item.CreatedDate <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@item.ViewCount </a></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input id="label-3" name="lida" type="radio" />
                    <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Comments<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                    <div class="content" id="a3">
                        <div class="scrollbar" id="style-2">
                            <div class="force-overflow">
                                <div class="response">
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MARCH 21, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MARCH 26, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MAY 25, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>FEB 13, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>JAN 28, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>APR 18, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="" />
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>DEC 25, 2014</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="secound_half">
        <div class="tags">
            <header>
                <h3 class="title-head">Tags</h3>
            </header>
            <p>
                <a class="tag1" href="single.html">At vero eos</a>
                <a class="tag2" href="single.html">doloremque</a>
                <a class="tag3" href="single.html">On the other</a>
                <a class="tag4" href="single.html">pain was</a>
                <a class="tag5" href="single.html">rationally encounter</a>
                <a class="tag6" href="single.html">praesentium voluptatum</a>
                <a class="tag7" href="single.html">est, omnis</a>
                <a class="tag8" href="single.html">who are so beguiled</a>
                <a class="tag9" href="single.html">when nothing</a>
                <a class="tag10" href="single.html">owing to the</a>
                <a class="tag11" href="single.html">pains to avoid</a>
                <a class="tag12" href="single.html">tempora incidunt</a>
                <a class="tag13" href="single.html">pursues or desires</a>
                <a class="tag14" href="single.html">Bonorum et</a>
                <a class="tag15" href="single.html">written by Cicero</a>
                <a class="tag16" href="single.html">Ipsum passage</a>
                <a class="tag17" href="single.html">exercitationem ullam</a>
                <a class="tag18" href="single.html">mistaken idea</a>
                <a class="tag19" href="single.html">ducimus qui</a>
                <a class="tag20" href="single.html">holds in these</a>
            </p>
        </div>
        @*<div class="popular-news">
                <header>
                    <h3 class="title-popular">popular News</h3>
                </header>
                <div class="popular-grids">
                    <div class="popular-grid">
                        <a href="single.html"><img src="images/popular-4.jpg" alt="" /></a>
                        <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                        <p>On Aug 31, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
                    </div>
                    <div class="popular-grid">
                        <a href="single.html"><img src="images/popular-1.jpg" alt="" /></a>
                        <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                        <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
                    </div>
                    <div class="popular-grid">
                        <iframe width="100%" src="https://www.youtube.com/embed/LGMn_yi_62k" frameborder="0" allowfullscreen></iframe>
                        <a class="title" href="single.html">Aishwarya Rai Bachchan's Latest SHOCKING News For Ex Salman Khan</a>
                        <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
                    </div>
                    <div class="popular-grid">
                        <a href="single.html"><img src="images/popular-3.jpg" alt="" /></a>
                        <a class="title" href="single.html">It is a long established fact that a reader will be distracted</a>
                        <p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

