@model ProjectTest.Models.Menu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp employer-form">
        <div class="mdl-card__title">
            <h2>Xóa bản ghi</h2>
            <div class="mdl-card__subtitle" style="color:white">Bạn có chắc chắn muốn xóa bản ghi này?</div>
        </div>
    </div>
    <div class="mdl-card__supporting-text">
        <form class="form form--basic">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone form__article">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                        <input class="mdl-textfield__input" value="@Html.DisplayFor(model=>model.Text)" />
                        <label class="mdl-textfield__label" for="profile-floating-first-name">Tên</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                        Kiểu menu:  @Html.DisplayFor(model => model.TypeMenu.Name)

                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                        <label class="mdl-checkbox__label">Hiển thị</label>
                        @Html.DisplayFor(model => model.Status)
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red" /> |
        <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>
    </form>
</div>


@*<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeMenu.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
