@model ProjectTest.Models.AboutMe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
    <div class="">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2>Thông tin chi tiết</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form form--basic">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                            <div class="profile-image color--smooth-gray profile-image--round">
                                <img src="@Html.DisplayFor(model=>model.Image)" />
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone form__article">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <input class="mdl-textfield__input" type="text" value="@Html.DisplayFor(model=>model.FirstName)" />
                                <label class="mdl-textfield__label" for="profile-floating-first-name">Họ</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <input class="mdl-textfield__input" type="text" value="@Html.DisplayFor(model=>model.LastName)" />
                                <label class="mdl-textfield__label" for="profile-floating-first-name">Tên</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <textarea class="mdl-textfield__input" type="text" value="@Html.DisplayFor(model=>model.Introduce)">@Html.DisplayFor(model=>model.Introduce)</textarea>
                                <label class="mdl-textfield__label" for="profile-floating-first-name">Giới Thiệu</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <input class="mdl-textfield__input" type="text" value="@Html.DisplayFor(model=>model.CreatedDate)" />
                                <label class="mdl-textfield__label" for="profile-floating-first-name">Ngày Viết</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <input class="mdl-textfield__input" type="text" value="@Html.DisplayFor(model=>model.Note)" />
                                <label class="mdl-textfield__label" for="profile-floating-first-name">Ghi chú</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label class="mdl-checkbox__label">Hiển thị</label>
                                @Html.DisplayFor(model => model.Status)
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal"><i class="fas fa-edit"></i> Edit</a> &nbsp; &nbsp;
                    <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</div>

@*<div>
    <h4>AboutMe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Introduce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Introduce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>*@

