@model Post
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var likePost = (IEnumerable<Post>)ViewBag.LikePost;
}

<ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Thông tin chi tiết</li>
    <li class="active">@ViewBag.ViewCount</li>
</ol>
<div class="single-page">
    <div class="col-md-2 share_grid">
        <h3>SHARE</h3>
        <ul>
            <li>
                <a href="#">
                    <i class="facebook"></i>
                    <div class="views">
                        <span>SHARE</span>
                        <label>180</label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="twitter"></i>
                    <div class="views">
                        <span>TWEET</span>
                        <label>355</label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="linkedin"></i>
                    <div class="views">
                        <span>SHARES</span>
                        <label>28</label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pinterest"></i>
                    <div class="views">
                        <span>PIN</span>
                        <label>16</label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="email"></i>
                    <div class="views">
                        <span>Email</span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 content-left single-post">
        <div class="blog-posts">
            <h3 class="post">@Model.Title</h3>
            <div class="last-article">
                <div style="text-align:center">
                    <img src="@Model.HinhAnh" />
                </div>

                <p class="artext">
                    @Html.Raw(Model.ContentPost)
                </p>
                <div class="clearfix"></div>
                <!--related-posts-->
                <div class="row related-posts">
                    <h4>Articles You May Like</h4>
                    @foreach (var item in likePost)
                    {
                        var url = "/chi-tiet-bai-viet/" + item.MetaTitle.Trim() + '-' + item.Id;
                        <div class="col-xs-6 col-md-3 related-grids">
                            <a href="@url" class="thumbnail">
                                <img src="@item.HinhAnh" alt="" />
                            </a>
                            <h5><a href="@url">@item.Title</a></h5>
                        </div>
                    }

                </div>
                <!--//related-posts-->
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=733537693819413&autoLogAppEvents=1"></script>
                <div class="fb-comments" data-href="https://localhost:44368/" data-width="850" data-numposts="5"></div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>


